USE [master]
GO
/****** Object:  Database [LICORERIA]    Script Date: 19/01/2021 20:34:45 ******/
CREATE DATABASE [LICORERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LICORERIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LICORERIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LICORERIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LICORERIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LICORERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LICORERIA]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[ID_CARGO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CARGO] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CATEGORIA] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOM_CLIENTE] [varchar](100) NOT NULL,
	[DIR_CLIENTE] [varchar](70) NOT NULL,
	[ID_PAIS] [int] NULL,
	[TEL_CLIENTE] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[PRE_DETALLE] [money] NOT NULL,
	[CAN_DETALLE] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRITO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRITO](
	[ID_DISTRITO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_DISTRITO] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DISTRITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_EMPLEADO] [varchar](100) NOT NULL,
	[FENAC_EMPLEADO] [date] NOT NULL,
	[DIR_EMPLEADO] [varchar](100) NOT NULL,
	[ID_DISTRITO] [int] NULL,
	[TEL_EMPLEADO] [varchar](15) NOT NULL,
	[ID_CARGO] [int] NULL,
	[FECON_EMPLEADO] [date] NOT NULL,
	[FOT_EMPLEADO] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODULO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULO](
	[ID_MODULO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_MODULO] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MODULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPERACION]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACION](
	[ID_OPERACION] [int] IDENTITY(1,1) NOT NULL,
	[NOM_OPERACION] [varchar](50) NULL,
	[ID_MODULO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_OPERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[ID_ORDEN] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ORDEN] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[ID_PAIS] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PAIS] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PAIS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [int] NULL,
	[FEC_PEDIDO] [date] NOT NULL,
	[FECENT_PEDIDO] [date] NULL,
	[ID_DISTRITO] [int] NULL,
	[DIR_PEDIDO] [varchar](150) NULL,
	[REF_PEDIDO] [varchar](150) NULL,
	[MONTO_PEDIDO] [money] NULL,
	[ID_EMPLEADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PRODUCTO] [varchar](40) NOT NULL,
	[ID_PROVEEDOR] [int] NULL,
	[ID_CATEGORIA] [int] NULL,
	[CXU_PRODUCTO] [varchar](20) NOT NULL,
	[PRE_PRODUCTO] [money] NOT NULL,
	[UEX_PRODUCTO] [int] NOT NULL,
	[UPE_PRODUCTO] [int] NOT NULL,
	[FOT_PRODUCTO] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [int] IDENTITY(1,1) NOT NULL,
	[NOM_PROVEEDOR] [varchar](100) NOT NULL,
	[NOM_CONTACTO] [varchar](100) NOT NULL,
	[CARGO_CONTACTO] [varchar](50) NOT NULL,
	[DIR_PROVEEDOR] [varchar](70) NOT NULL,
	[ID_PAIS] [int] NULL,
	[TEL_PROVEEDOR] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] IDENTITY(1,1) NOT NULL,
	[NOM_ROL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL_OPERACION]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_OPERACION](
	[ID_ROLOP] [int] IDENTITY(1,1) NOT NULL,
	[ID_ROL] [int] NULL,
	[ID_OPERACION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ROLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 19/01/2021 20:34:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[LOGIN_USUARIO] [varchar](50) NOT NULL,
	[PASS_USUARIO] [varchar](50) NOT NULL,
	[NOM_USUARIO] [varchar](100) NOT NULL,
	[EMAIL_USUARIO] [varchar](100) NOT NULL,
	[DNI_USUARIO] [varchar](8) NULL,
	[TEL_USUARIO] [varchar](15) NULL,
	[TOKEN_RESET] [varchar](200) NULL,
	[ID_ROL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARGO] ON 

INSERT [dbo].[CARGO] ([ID_CARGO], [NOM_CARGO]) VALUES (1, N'GERENTE COMERCIAL')
INSERT [dbo].[CARGO] ([ID_CARGO], [NOM_CARGO]) VALUES (2, N'EJECUTIVO/A DE VENTAS')
INSERT [dbo].[CARGO] ([ID_CARGO], [NOM_CARGO]) VALUES (3, N'ASESOR/A DE VENTAS')
SET IDENTITY_INSERT [dbo].[CARGO] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOM_CATEGORIA]) VALUES (1, N'CERVEZA')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOM_CATEGORIA]) VALUES (2, N'GIN')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOM_CATEGORIA]) VALUES (3, N'PISCO')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[CLIENTE] ON 

INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOM_CLIENTE], [DIR_CLIENTE], [ID_PAIS], [TEL_CLIENTE]) VALUES (1, N'ALFREDS FUTTERKISTE', N'OBERE STR. 57', 1, N'030-74321')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOM_CLIENTE], [DIR_CLIENTE], [ID_PAIS], [TEL_CLIENTE]) VALUES (2, N'ANA TRUJILLO EMPAREDADOS Y HELADOS', N'AVDA. DE LA CONSTITUCION 2222', 2, N'(5) 555-4729')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOM_CLIENTE], [DIR_CLIENTE], [ID_PAIS], [TEL_CLIENTE]) VALUES (3, N'ANTONIO MORENO TAQUERIA', N'MATADEROS  2312', 3, N'(5) 555-3932')
SET IDENTITY_INSERT [dbo].[CLIENTE] OFF
GO
INSERT [dbo].[DETALLE] ([ID_PEDIDO], [ID_PRODUCTO], [PRE_DETALLE], [CAN_DETALLE]) VALUES (2, 4, 36.0000, 1)
INSERT [dbo].[DETALLE] ([ID_PEDIDO], [ID_PRODUCTO], [PRE_DETALLE], [CAN_DETALLE]) VALUES (3, 2, 33.0000, 2)
INSERT [dbo].[DETALLE] ([ID_PEDIDO], [ID_PRODUCTO], [PRE_DETALLE], [CAN_DETALLE]) VALUES (3, 4, 36.0000, 2)
GO
SET IDENTITY_INSERT [dbo].[DISTRITO] ON 

INSERT [dbo].[DISTRITO] ([ID_DISTRITO], [NOM_DISTRITO]) VALUES (1, N'LIMA')
INSERT [dbo].[DISTRITO] ([ID_DISTRITO], [NOM_DISTRITO]) VALUES (2, N'RIMAC')
INSERT [dbo].[DISTRITO] ([ID_DISTRITO], [NOM_DISTRITO]) VALUES (3, N'ATE')
SET IDENTITY_INSERT [dbo].[DISTRITO] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLEADO] ON 

INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [NOM_EMPLEADO], [FENAC_EMPLEADO], [DIR_EMPLEADO], [ID_DISTRITO], [TEL_EMPLEADO], [ID_CARGO], [FECON_EMPLEADO], [FOT_EMPLEADO]) VALUES (1, N'ANDREA FULLER', CAST(N'1990-12-25' AS Date), N'CALLE LAS MAGNOLIAS 123', 1, N'963852741', 1, CAST(N'2016-01-03' AS Date), N'~/fotos_empleados/1.jpg')
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [NOM_EMPLEADO], [FENAC_EMPLEADO], [DIR_EMPLEADO], [ID_DISTRITO], [TEL_EMPLEADO], [ID_CARGO], [FECON_EMPLEADO], [FOT_EMPLEADO]) VALUES (2, N'MARINA ROJAS', CAST(N'1993-10-12' AS Date), N'AV ABANCAY 235', 2, N'987654321', 2, CAST(N'2019-05-23' AS Date), N'~/fotos_empleados/2.jpg')
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [NOM_EMPLEADO], [FENAC_EMPLEADO], [DIR_EMPLEADO], [ID_DISTRITO], [TEL_EMPLEADO], [ID_CARGO], [FECON_EMPLEADO], [FOT_EMPLEADO]) VALUES (3, N'LUIS ZAVALETA', CAST(N'1996-08-25' AS Date), N'JIRON JUNIN 456', 3, N'951632874', 3, CAST(N'2020-01-01' AS Date), N'~/fotos_empleados/3.jpg')
SET IDENTITY_INSERT [dbo].[EMPLEADO] OFF
GO
SET IDENTITY_INSERT [dbo].[MODULO] ON 

INSERT [dbo].[MODULO] ([ID_MODULO], [NOM_MODULO]) VALUES (1, N'Acceso')
INSERT [dbo].[MODULO] ([ID_MODULO], [NOM_MODULO]) VALUES (2, N'Licoreria')
INSERT [dbo].[MODULO] ([ID_MODULO], [NOM_MODULO]) VALUES (3, N'Producto')
SET IDENTITY_INSERT [dbo].[MODULO] OFF
GO
SET IDENTITY_INSERT [dbo].[OPERACION] ON 

INSERT [dbo].[OPERACION] ([ID_OPERACION], [NOM_OPERACION], [ID_MODULO]) VALUES (1, N'listadoProductos', 3)
INSERT [dbo].[OPERACION] ([ID_OPERACION], [NOM_OPERACION], [ID_MODULO]) VALUES (2, N'nuevoProducto', 3)
INSERT [dbo].[OPERACION] ([ID_OPERACION], [NOM_OPERACION], [ID_MODULO]) VALUES (3, N'modificaProducto', 3)
SET IDENTITY_INSERT [dbo].[OPERACION] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDEN] ON 

INSERT [dbo].[ORDEN] ([ID_ORDEN], [NOM_ORDEN]) VALUES (1, N'MENOR A MAYOR')
INSERT [dbo].[ORDEN] ([ID_ORDEN], [NOM_ORDEN]) VALUES (2, N'MAYOR A MENOR')
SET IDENTITY_INSERT [dbo].[ORDEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PAIS] ON 

INSERT [dbo].[PAIS] ([ID_PAIS], [NOM_PAIS]) VALUES (1, N'ARGENTINA')
INSERT [dbo].[PAIS] ([ID_PAIS], [NOM_PAIS]) VALUES (2, N'BOLIVIA')
INSERT [dbo].[PAIS] ([ID_PAIS], [NOM_PAIS]) VALUES (3, N'BRASIL')
SET IDENTITY_INSERT [dbo].[PAIS] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDO] ON 

INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_CLIENTE], [FEC_PEDIDO], [FECENT_PEDIDO], [ID_DISTRITO], [DIR_PEDIDO], [REF_PEDIDO], [MONTO_PEDIDO], [ID_EMPLEADO]) VALUES (2, 3, CAST(N'2020-12-07' AS Date), NULL, 2, N'calle de prueba', N'pedido 2', 36.0000, NULL)
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_CLIENTE], [FEC_PEDIDO], [FECENT_PEDIDO], [ID_DISTRITO], [DIR_PEDIDO], [REF_PEDIDO], [MONTO_PEDIDO], [ID_EMPLEADO]) VALUES (3, 5, CAST(N'2020-12-07' AS Date), NULL, 6, N'calle de prueba', N'Pedido 3', 138.0000, NULL)
INSERT [dbo].[PEDIDO] ([ID_PEDIDO], [ID_CLIENTE], [FEC_PEDIDO], [FECENT_PEDIDO], [ID_DISTRITO], [DIR_PEDIDO], [REF_PEDIDO], [MONTO_PEDIDO], [ID_EMPLEADO]) VALUES (4, 5, CAST(N'2020-12-07' AS Date), NULL, 6, N'calle de prueba', N'pedido 4', 36.0000, NULL)
SET IDENTITY_INSERT [dbo].[PEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOM_PRODUCTO], [ID_PROVEEDOR], [ID_CATEGORIA], [CXU_PRODUCTO], [PRE_PRODUCTO], [UEX_PRODUCTO], [UPE_PRODUCTO], [FOT_PRODUCTO]) VALUES (1, N'GROLSCH', 1, 1, N'FOUR PACK X 330 ML', 36.0000, 97, 3, N'~/fotos_productos/1.jpg')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOM_PRODUCTO], [ID_PROVEEDOR], [ID_CATEGORIA], [CXU_PRODUCTO], [PRE_PRODUCTO], [UEX_PRODUCTO], [UPE_PRODUCTO], [FOT_PRODUCTO]) VALUES (2, N'ESTRELLA GALICIA', 2, 1, N'SIX PACK X 330 ML', 33.0000, 94, 6, N'~/fotos_productos/2.jpg')
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [NOM_PRODUCTO], [ID_PROVEEDOR], [ID_CATEGORIA], [CXU_PRODUCTO], [PRE_PRODUCTO], [UEX_PRODUCTO], [UPE_PRODUCTO], [FOT_PRODUCTO]) VALUES (3, N'CUSQUEÑA', 3, 1, N'SIX PACK X 330 ML', 24.0000, 83, 17, N'~/fotos_productos/3.jpg')
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOM_PROVEEDOR], [NOM_CONTACTO], [CARGO_CONTACTO], [DIR_PROVEEDOR], [ID_PAIS], [TEL_PROVEEDOR]) VALUES (1, N'EXOTIC LIQUIDS', N'CHARLOTTE COOPER', N'GERENTE DE COMPRA', N'49 GILBERT ST.', 1, N'(171) 555-2222')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOM_PROVEEDOR], [NOM_CONTACTO], [CARGO_CONTACTO], [DIR_PROVEEDOR], [ID_PAIS], [TEL_PROVEEDOR]) VALUES (2, N'NEW ORLEANS CAJUN DELIGHTS', N'SHELLEY BURKE', N'ADMINISTRADOR DE PEDIDO', N'P.O. BOX 78934', 2, N'(100) 555-4822')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOM_PROVEEDOR], [NOM_CONTACTO], [CARGO_CONTACTO], [DIR_PROVEEDOR], [ID_PAIS], [TEL_PROVEEDOR]) VALUES (3, N'GRANDMA KELLYS HOMESTEAD', N'REGINA MURPHY', N'REPRESENTANTE DE VENTA', N'707 OXFORD RD.', 3, N'(313) 555-5735')
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([ID_ROL], [NOM_ROL]) VALUES (1, N'ADMINISTRADOR')
INSERT [dbo].[ROL] ([ID_ROL], [NOM_ROL]) VALUES (2, N'VENDEDOR')
INSERT [dbo].[ROL] ([ID_ROL], [NOM_ROL]) VALUES (3, N'CLIENTE')
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL_OPERACION] ON 

INSERT [dbo].[ROL_OPERACION] ([ID_ROLOP], [ID_ROL], [ID_OPERACION]) VALUES (1, 1, 1)
INSERT [dbo].[ROL_OPERACION] ([ID_ROLOP], [ID_ROL], [ID_OPERACION]) VALUES (2, 1, 2)
INSERT [dbo].[ROL_OPERACION] ([ID_ROLOP], [ID_ROL], [ID_OPERACION]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[ROL_OPERACION] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID_USUARIO], [LOGIN_USUARIO], [PASS_USUARIO], [NOM_USUARIO], [EMAIL_USUARIO], [DNI_USUARIO], [TEL_USUARIO], [TOKEN_RESET], [ID_ROL]) VALUES (1, N'admin', N'1234', N'Admin Test', N'admin@test.com', N'12345678', N'995588447', NULL, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [LOGIN_USUARIO], [PASS_USUARIO], [NOM_USUARIO], [EMAIL_USUARIO], [DNI_USUARIO], [TEL_USUARIO], [TOKEN_RESET], [ID_ROL]) VALUES (2, N'vendor', N'1234', N'Vendor Test 2', N'vendor@gmail.com', N'11559933', N'999999333', NULL, 2)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [LOGIN_USUARIO], [PASS_USUARIO], [NOM_USUARIO], [EMAIL_USUARIO], [DNI_USUARIO], [TEL_USUARIO], [TOKEN_RESET], [ID_ROL]) VALUES (3, N'client', N'1234', N'Client Test', N'client@test.com', N'14785236', N'996633225', NULL, 3)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__USUARIO__FAE6E4E9DCA5F027]    Script Date: 19/01/2021 20:34:45 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[LOGIN_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  DEFAULT (getdate()) FOR [FEC_PEDIDO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAIS] ([ID_PAIS])
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[CARGO] ([ID_CARGO])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITO] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD FOREIGN KEY([ID_MODULO])
REFERENCES [dbo].[MODULO] ([ID_MODULO])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([ID_DISTRITO])
REFERENCES [dbo].[DISTRITO] ([ID_DISTRITO])
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[PROVEEDOR]  WITH CHECK ADD FOREIGN KEY([ID_PAIS])
REFERENCES [dbo].[PAIS] ([ID_PAIS])
GO
ALTER TABLE [dbo].[ROL_OPERACION]  WITH CHECK ADD FOREIGN KEY([ID_OPERACION])
REFERENCES [dbo].[OPERACION] ([ID_OPERACION])
GO
ALTER TABLE [dbo].[ROL_OPERACION]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
/****** Object:  StoredProcedure [dbo].[PRUEBA]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[PRUEBA] (@ROL INT)
AS
	SELECT * FROM USUARIO WHERE ID_ROL = @ROL
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTCOD]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ACTCOD](@TABLA VARCHAR(50))
AS
	SELECT IDENT_CURRENT(@TABLA)
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAPASS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ACTUALIZAPASS](@PASS VARCHAR(100), @TOKEN VARCHAR(200))
AS
	UPDATE USUARIO SET PASS_USUARIO = @PASS WHERE TOKEN_RESET = @TOKEN
	UPDATE USUARIO SET TOKEN_RESET = NULL WHERE TOKEN_RESET = @TOKEN
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZATOKEN]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ACTUALIZATOKEN](@EMAIL VARCHAR(100), @TOKEN VARCHAR(200))
AS
	UPDATE USUARIO SET TOKEN_RESET = @TOKEN WHERE EMAIL_USUARIO = @EMAIL
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAUSUARIO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_ACTUALIZAUSUARIO](@ID INT, @PASS VARCHAR(50), @NOM VARCHAR(100), @EMAIL VARCHAR(100),
@DNI VARCHAR(8), @TEL VARCHAR(15), @ROL INT)
AS
	UPDATE USUARIO SET 
	PASS_USUARIO = @PASS, NOM_USUARIO = @NOM, EMAIL_USUARIO = @EMAIL,
	DNI_USUARIO = @DNI, TEL_USUARIO = @TEL, ID_ROL = @ROL
	WHERE ID_USUARIO = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARLOGINUSUARIO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_BUSCARLOGINUSUARIO](@LOGIN VARCHAR(50))
AS
	SELECT COUNT(LOGIN_USUARIO) FROM USUARIO WHERE LOGIN_USUARIO = @LOGIN
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAROPERACIONXROL]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCAROPERACIONXROL](@ROL INT, @OPERACION INT)
AS
	SELECT * FROM ROL_OPERACION ROP
	WHERE ROP.ID_ROL = @ROL AND ROP.ID_OPERACION = @OPERACION;
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCARPEDIDOACTUAL]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BUSCARPEDIDOACTUAL] (@ID INT)
AS
	SELECT * FROM PEDIDO WHERE ID_PEDIDO = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTES]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CLIENTES]
AS
	SELECT * FROM CLIENTE
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLEPEDIDO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DETALLEPEDIDO] (@PEDIDO INT, @PRODUCTO INT, @PRECIO MONEY, @CANTIDAD INT)
AS
	INSERT INTO DETALLE(ID_PEDIDO, ID_PRODUCTO, PRE_DETALLE, CAN_DETALLE)
	VALUES (@PEDIDO, @PRODUCTO, @PRECIO, @CANTIDAD)

	UPDATE PRODUCTO SET UEX_PRODUCTO = UEX_PRODUCTO - @CANTIDAD,
	UPE_PRODUCTO = UPE_PRODUCTO + @CANTIDAD
	WHERE ID_PRODUCTO = @PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINACLIENTE]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ELIMINACLIENTE](@ID INT)
AS
	DELETE FROM CLIENTE WHERE ID_CLIENTE = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAEMPLEADO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ELIMINAEMPLEADO](@ID INT)
AS
	DELETE FROM EMPLEADO WHERE ID_EMPLEADO = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAPRODUCTO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ELIMINAPRODUCTO](@ID INT)
AS
	DELETE FROM PRODUCTO WHERE ID_PRODUCTO = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_ELIMINAPROVEEDOR]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ELIMINAPROVEEDOR](@ID INT)
AS
	DELETE FROM PROVEEDOR WHERE ID_PROVEEDOR = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPLEADOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_EMPLEADOS]
AS
	SELECT * FROM EMPLEADO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARCARGOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARCARGOS]
AS
	SELECT * FROM CARGO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARCATEGORIAS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARCATEGORIAS]
AS
	SELECT * FROM CATEGORIA
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARCLIENTES]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARCLIENTES]
AS
	SELECT C.ID_CLIENTE, C.NOM_CLIENTE, C.DIR_CLIENTE,
	P.NOM_PAIS, C.TEL_CLIENTE FROM CLIENTE C
	JOIN PAIS P ON C.ID_PAIS = P.ID_PAIS
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARDISTRITOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARDISTRITOS]
AS
	SELECT * FROM DISTRITO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAREMPLEADOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTAREMPLEADOS]
AS
	SELECT E.ID_EMPLEADO, E.NOM_EMPLEADO, E.FENAC_EMPLEADO,
	E.DIR_EMPLEADO, D.NOM_DISTRITO, E.TEL_EMPLEADO, C.NOM_CARGO,
	E.FECON_EMPLEADO, E.FOT_EMPLEADO
	FROM EMPLEADO E JOIN DISTRITO D
	ON E.ID_DISTRITO = D.ID_DISTRITO
	JOIN CARGO C ON E.ID_CARGO = C.ID_CARGO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARORDEN]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTARORDEN]
AS
	SELECT * FROM ORDEN;
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPAISES]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARPAISES]
AS
	SELECT * FROM PAIS
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPEDIDOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTARPEDIDOS]
AS
	SELECT P.ID_PEDIDO, C.NOM_CLIENTE, P.FEC_PEDIDO,
	P.FECENT_PEDIDO, D.NOM_DISTRITO, P.DIR_PEDIDO, P.REF_PEDIDO, P.MONTO_PEDIDO
	FROM PEDIDO P JOIN CLIENTE C
	ON P.ID_CLIENTE = C.ID_CLIENTE
	JOIN EMPLEADO E
	ON P.ID_EMPLEADO = E.ID_EMPLEADO
	JOIN DISTRITO D
	ON P.ID_DISTRITO = D.ID_DISTRITO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPEDIDOSXUSUARIO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTARPEDIDOSXUSUARIO](@USUARIO INT)
AS
		SELECT P.ID_PEDIDO, U.NOM_USUARIO, P.FEC_PEDIDO,
		P.FECENT_PEDIDO, D.NOM_DISTRITO, P.DIR_PEDIDO, P.REF_PEDIDO, P.MONTO_PEDIDO
		FROM PEDIDO P JOIN USUARIO U ON P.ID_CLIENTE = U.ID_USUARIO
		JOIN DISTRITO D
		ON P.ID_DISTRITO = D.ID_DISTRITO
		WHERE P.ID_CLIENTE = @USUARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPRODUCTOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARPRODUCTOS]
AS
	SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
	CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
	PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
	FROM PRODUCTO PROD
	JOIN PROVEEDOR PROV
	ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
	JOIN CATEGORIA CAT
	ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPRODUCTOSXCATXORD]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTARPRODUCTOSXCATXORD] (@CAT INT, @ORD INT)
AS
	/* No hay orden ni categoría */
	IF @ORD = 0 AND @CAT = 0
		SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
		CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
		PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
		FROM PRODUCTO PROD
		JOIN PROVEEDOR PROV
		ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
		JOIN CATEGORIA CAT
		ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
	ELSE
		/* Hay categoria pero no orden, por defecto ascendente por id */
		IF @ORD = 0 AND @CAT > 0
			SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
			CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
			PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
			FROM PRODUCTO PROD
			JOIN PROVEEDOR PROV
			ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
			JOIN CATEGORIA CAT
			ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
			WHERE PROD.ID_CATEGORIA = @CAT ORDER BY PROD.ID_PRODUCTO ASC


		/* Hay orden 1 (asc) pero no hay categoría */
		IF @ORD = 1 AND @CAT = 0
			SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
			CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
			PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
			FROM PRODUCTO PROD
			JOIN PROVEEDOR PROV
			ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
			JOIN CATEGORIA CAT
			ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
			ORDER BY PROD.PRE_PRODUCTO ASC

		/* Hay orden 2 (desc) pero no hay categoría */
		IF @ORD = 2 AND @CAT = 0
			SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
			CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
			PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
			FROM PRODUCTO PROD
			JOIN PROVEEDOR PROV
			ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
			JOIN CATEGORIA CAT
			ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
			ORDER BY PROD.PRE_PRODUCTO DESC


		/* Hay orden 1 (asc) y hay categoría */
		IF @ORD = 1 AND @CAT > 0
			SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
			CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
			PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
			FROM PRODUCTO PROD
			JOIN PROVEEDOR PROV
			ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
			JOIN CATEGORIA CAT
			ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
			WHERE PROD.ID_CATEGORIA = @CAT ORDER BY PROD.PRE_PRODUCTO ASC

		/* Hay orden 2 (desc) y hay categoría */
		IF @ORD = 2 AND @CAT > 0
			SELECT PROD.ID_PRODUCTO, PROD.NOM_PRODUCTO, PROV.NOM_PROVEEDOR,
			CAT.NOM_CATEGORIA, PROD.CXU_PRODUCTO, PROD.PRE_PRODUCTO, PROD.UEX_PRODUCTO,
			PROD.UPE_PRODUCTO, PROD.FOT_PRODUCTO
			FROM PRODUCTO PROD
			JOIN PROVEEDOR PROV
			ON PROD.ID_PROVEEDOR = PROV.ID_PROVEEDOR
			JOIN CATEGORIA CAT
			ON PROD.ID_CATEGORIA = CAT.ID_CATEGORIA
			WHERE PROD.ID_CATEGORIA = @CAT ORDER BY PROD.PRE_PRODUCTO DESC

GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPROVEEDORES]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARPROVEEDORES]
AS
	SELECT PRO.ID_PROVEEDOR, PRO.NOM_PROVEEDOR,
	PRO.NOM_CONTACTO, PRO.CARGO_CONTACTO, PRO.DIR_PROVEEDOR, PAI.NOM_PAIS, PRO.TEL_PROVEEDOR
	FROM PROVEEDOR PRO
	JOIN PAIS PAI
	ON PRO.ID_PAIS = PAI.ID_PAIS
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARPROVEEDORES_COMBO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LISTARPROVEEDORES_COMBO]
AS
	SELECT ID_PROVEEDOR, NOM_PROVEEDOR FROM PROVEEDOR
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARROLES]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTARROLES]
AS
	SELECT * FROM ROL
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARUSUARIOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LISTARUSUARIOS]
AS
	SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
	U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL
	FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARUSUARIOSXROL]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTARUSUARIOSXROL] (@ROL INT)
AS
	IF(@ROL > 0)
		SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
		U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL
		FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL WHERE U.ID_ROL = @ROL
	ELSE
		IF(@ROL = 0)
			SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
			U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL
			FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL

	
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTARUSUARIOSXROLXLOGINOEMAIL]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_LISTARUSUARIOSXROLXLOGINOEMAIL](@ROL INT, @TEXTO VARCHAR(50))
AS
	IF(@ROL = 0 AND @TEXTO LIKE '')
		SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
		U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL 
		FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL ORDER BY U.ID_USUARIO ASC

	IF(@ROL > 0 AND @TEXTO LIKE '')
		SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
		U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL 
		FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL WHERE U.ID_ROL = @ROL

	IF(@ROL = 0 AND @TEXTO NOT LIKE '')
		SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
		U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL 
		FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL WHERE UPPER(U.LOGIN_USUARIO) LIKE UPPER(CONCAT(@TEXTO,'%')) OR UPPER(U.EMAIL_USUARIO) LIKE UPPER(CONCAT(@TEXTO,'%'))

	IF(@ROL > 0 AND @TEXTO NOT LIKE '')
		SELECT U.ID_USUARIO, U.LOGIN_USUARIO, U.PASS_USUARIO, U.NOM_USUARIO, U.EMAIL_USUARIO,
		U.DNI_USUARIO, U.TEL_USUARIO, U.TOKEN_RESET, R.NOM_ROL 
		FROM USUARIO U JOIN ROL R ON U.ID_ROL = R.ID_ROL WHERE U.ID_ROL = @ROL AND (UPPER(U.LOGIN_USUARIO) LIKE UPPER(CONCAT(@TEXTO,'%')) OR UPPER(U.EMAIL_USUARIO) LIKE UPPER(CONCAT(@TEXTO,'%')))
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOCLIENTE]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MANTENIMIENTOCLIENTE] (@ID INT, @NOM VARCHAR(100),
@DIR VARCHAR(70), @PAIS INT, @TEL VARCHAR(15))
AS
	MERGE INTO CLIENTE AS TARGET
	USING(SELECT @ID, @NOM, @DIR, @PAIS, @TEL)
	AS SOURCE(ID_CLIENTE, NOM_CLIENTE, DIR_CLIENTE, ID_PAIS, TEL_CLIENTE)
	ON TARGET.ID_CLIENTE = SOURCE.ID_CLIENTE
	WHEN MATCHED THEN
		UPDATE SET TARGET.NOM_CLIENTE = SOURCE.NOM_CLIENTE,
		TARGET.DIR_CLIENTE = SOURCE.DIR_CLIENTE,
		TARGET.ID_PAIS = SOURCE.ID_PAIS,
		TARGET.TEL_CLIENTE = SOURCE.TEL_CLIENTE
	WHEN NOT MATCHED THEN
		INSERT VALUES (SOURCE.NOM_CLIENTE, SOURCE.DIR_CLIENTE,
		SOURCE.ID_PAIS, SOURCE.TEL_CLIENTE);
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOEMPLEADO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MANTENIMIENTOEMPLEADO] (@ID INT, @NOM VARCHAR(100),
@FECHA DATE, @DIR VARCHAR(100), @DISTRITO INT, @TEL VARCHAR(15),
@CARGO INT, @CONTRAT DATE, @FOTO VARCHAR(250))
AS
	MERGE INTO EMPLEADO AS TARGET
	USING(SELECT @ID, @NOM, @FECHA, @DIR, @DISTRITO, @TEL, @CARGO, @CONTRAT, @FOTO)
	AS SOURCE(ID_EMPLEADO, NOM_EMPLEADO, FENAC_EMPLEADO, DIR_EMPLEADO, ID_DISTRITO,
	TEL_EMPLEADO, ID_CARGO, FECON_EMPLEADO, FOT_EMPLEADO)
	ON TARGET.ID_EMPLEADO = SOURCE.ID_EMPLEADO
	WHEN MATCHED THEN
		UPDATE SET TARGET.NOM_EMPLEADO = SOURCE.NOM_EMPLEADO,
		TARGET.FENAC_EMPLEADO = SOURCE.FENAC_EMPLEADO,
		TARGET.DIR_EMPLEADO = SOURCE.DIR_EMPLEADO,
		TARGET.ID_DISTRITO = SOURCE.ID_DISTRITO,
		TARGET.TEL_EMPLEADO = SOURCE.TEL_EMPLEADO,
		TARGET.ID_CARGO = SOURCE.ID_CARGO,
		TARGET.FECON_EMPLEADO = SOURCE.FECON_EMPLEADO,
		TARGET.FOT_EMPLEADO = SOURCE.FOT_EMPLEADO
	WHEN NOT MATCHED THEN
		INSERT VALUES (SOURCE.NOM_EMPLEADO, SOURCE.FENAC_EMPLEADO,
		SOURCE.DIR_EMPLEADO, SOURCE.ID_DISTRITO, SOURCE.TEL_EMPLEADO,
		SOURCE.ID_CARGO, SOURCE.FECON_EMPLEADO, SOURCE.FOT_EMPLEADO);
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOPEDIDO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MANTENIMIENTOPEDIDO] (@PEDIDO INT, @CLIENTE INT,
@FECPEDIDO DATE, @FECENTREGA DATE, @DISTRITO INT, @DIR VARCHAR(150),
@REF VARCHAR(150), @MONTO MONEY, @EMPLEADO INT)
AS
	MERGE INTO PEDIDO AS TARGET
	USING(SELECT @PEDIDO, @CLIENTE,
@FECPEDIDO, @FECENTREGA, @DISTRITO, @DIR, @REF, @MONTO, @EMPLEADO)
	AS SOURCE(ID_PEDIDO, ID_CLIENTE, FEC_PEDIDO, FECENT_PEDIDO,
	 ID_DISTRITO, DIR_PEDIDO, REF_PEDIDO, MONTO_PEDIDO, ID_EMPLEADO)
	ON TARGET.ID_PEDIDO = SOURCE.ID_PEDIDO
	WHEN MATCHED THEN
		UPDATE SET TARGET.ID_CLIENTE = SOURCE.ID_CLIENTE,
		TARGET.ID_EMPLEADO = SOURCE.ID_EMPLEADO,
		TARGET.FEC_PEDIDO = SOURCE.FEC_PEDIDO,
		TARGET.FECENT_PEDIDO = SOURCE.FECENT_PEDIDO,
		TARGET.ID_DISTRITO = SOURCE.ID_DISTRITO,
		TARGET.DIR_PEDIDO = SOURCE.DIR_PEDIDO,
		TARGET.REF_PEDIDO = SOURCE.REF_PEDIDO,
		TARGET.MONTO_PEDIDO = SOURCE.MONTO_PEDIDO
	WHEN NOT MATCHED THEN
		INSERT VALUES (SOURCE.ID_CLIENTE, SOURCE.FEC_PEDIDO, SOURCE.FECENT_PEDIDO,
		SOURCE.ID_DISTRITO, SOURCE.DIR_PEDIDO, SOURCE.REF_PEDIDO, SOURCE.MONTO_PEDIDO, SOURCE.ID_EMPLEADO);
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOPRODUCTO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MANTENIMIENTOPRODUCTO] (@ID INT, @NOM VARCHAR(40), @PROV INT, @CAT INT,
@CXU VARCHAR(20), @PRE MONEY, @UEX INT, @UPE INT, @FOT VARCHAR(250))
AS
	MERGE INTO PRODUCTO AS TARGET
	USING(SELECT @ID, @NOM, @PROV, @CAT, @CXU, @PRE, @UEX, @UPE, @FOT)
	AS SOURCE(ID_PRODUCTO, NOM_PRODUCTO, ID_PROVEEDOR, ID_CATEGORIA, CXU_PRODUCTO,
	PRE_PRODUCTO, UEX_PRODUCTO, UPE_PRODUCTO, FOT_PRODUCTO)
	ON TARGET.ID_PRODUCTO = SOURCE.ID_PRODUCTO
	WHEN MATCHED THEN
		UPDATE SET TARGET.NOM_PRODUCTO = SOURCE.NOM_PRODUCTO,
		TARGET.ID_PROVEEDOR = SOURCE.ID_PROVEEDOR,
		TARGET.ID_CATEGORIA = SOURCE.ID_CATEGORIA,
		TARGET.CXU_PRODUCTO = SOURCE.CXU_PRODUCTO,
		TARGET.PRE_PRODUCTO = SOURCE.PRE_PRODUCTO,
		TARGET.UEX_PRODUCTO = SOURCE.UEX_PRODUCTO,
		TARGET.UPE_PRODUCTO = SOURCE.UPE_PRODUCTO,
		TARGET.FOT_PRODUCTO = SOURCE.FOT_PRODUCTO
	WHEN NOT MATCHED THEN
		INSERT VALUES (SOURCE.NOM_PRODUCTO, SOURCE.ID_PROVEEDOR,
		SOURCE.ID_CATEGORIA, SOURCE.CXU_PRODUCTO, SOURCE.PRE_PRODUCTO,
		SOURCE.UEX_PRODUCTO, SOURCE.UPE_PRODUCTO, SOURCE.FOT_PRODUCTO);
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOPROVEEDOR]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_MANTENIMIENTOPROVEEDOR] (@ID INT, @NOM VARCHAR(100),
@CONTACTO VARCHAR(100), @CARGO VARCHAR(50), @DIR VARCHAR(70), @PAIS INT, @TEL VARCHAR(15))
AS
	MERGE INTO PROVEEDOR AS TARGET
	USING(SELECT @ID, @NOM, @CONTACTO, @CARGO, @DIR, @PAIS, @TEL)
	AS SOURCE(ID_PROVEEDOR, NOM_PROVEEDOR, NOM_CONTACTO,
	CARGO_CONTACTO, DIR_PROVEEDOR, ID_PAIS, TEL_PROVEEDOR)
	ON TARGET.ID_PROVEEDOR = SOURCE.ID_PROVEEDOR
	WHEN MATCHED THEN
		UPDATE SET TARGET.NOM_PROVEEDOR = SOURCE.NOM_PROVEEDOR,
		TARGET.NOM_CONTACTO = SOURCE.NOM_CONTACTO,
		TARGET.CARGO_CONTACTO = SOURCE.CARGO_CONTACTO,
		TARGET.DIR_PROVEEDOR = SOURCE.DIR_PROVEEDOR,
		TARGET.ID_PAIS = SOURCE.ID_PAIS,
		TARGET.TEL_PROVEEDOR = SOURCE.TEL_PROVEEDOR
	WHEN NOT MATCHED THEN
		INSERT VALUES (SOURCE.NOM_PROVEEDOR,
		SOURCE.NOM_CONTACTO, SOURCE.CARGO_CONTACTO, SOURCE.DIR_PROVEEDOR, SOURCE.ID_PAIS,
		SOURCE.TEL_PROVEEDOR);
GO
/****** Object:  StoredProcedure [dbo].[SP_MANTENIMIENTOUSUARIO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_MANTENIMIENTOUSUARIO] (@ID INT, @USER VARCHAR(50),
@PASS VARCHAR(50), @NOM VARCHAR(100), @EMAIL VARCHAR(100), @DNI VARCHAR(8),
@TEL VARCHAR(15), @TOKEN VARCHAR(200), @ROL INT)
AS
	MERGE INTO USUARIO AS TARGET
	USING (SELECT @ID, @USER, @PASS, @NOM, @EMAIL, @DNI, @TEL, @TOKEN, @ROL)
	AS SOURCE (ID_USUARIO, LOGIN_USUARIO, PASS_USUARIO, NOM_USUARIO, EMAIL_USUARIO,
	DNI_USUARIO, TEL_USUARIO, TOKEN_RESET, ID_ROL)
	ON TARGET.ID_USUARIO = SOURCE.ID_USUARIO
	WHEN MATCHED THEN
		UPDATE SET
		TARGET.LOGIN_USUARIO = SOURCE.LOGIN_USUARIO,
		TARGET.PASS_USUARIO = SOURCE.PASS_USUARIO,
		TARGET.NOM_USUARIO = SOURCE.NOM_USUARIO,
		TARGET.EMAIL_USUARIO = SOURCE.EMAIL_USUARIO,
		TARGET.DNI_USUARIO = SOURCE.DNI_USUARIO,
		TARGET.TEL_USUARIO = SOURCE.TEL_USUARIO,
		TARGET.TOKEN_RESET = NULL, /* NO PUEDE SER EDITADO FUERA DE RESET */
		TARGET.ID_ROL = SOURCE.ID_ROL
	WHEN NOT MATCHED THEN
		INSERT VALUES (SOURCE.LOGIN_USUARIO, SOURCE.NOM_USUARIO, SOURCE.PASS_USUARIO, SOURCE.EMAIL_USUARIO, SOURCE.DNI_USUARIO,
		SOURCE.TEL_USUARIO, NULL, SOURCE.ID_ROL);
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVACUENTA]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_NUEVACUENTA](@LOGIN VARCHAR(50), @PASS VARCHAR(50), @NOMBRE VARCHAR(100),
@EMAIL VARCHAR(100), @DNI VARCHAR(8), @TEL VARCHAR(15))
AS
	INSERT INTO USUARIO (LOGIN_USUARIO, PASS_USUARIO, NOM_USUARIO,
	EMAIL_USUARIO, DNI_USUARIO, TEL_USUARIO, ID_ROL) 
	VALUES (@LOGIN, @PASS, @NOMBRE, @EMAIL, @DNI, @TEL, 3)
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOPEDIDO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_NUEVOPEDIDO] (@CLIENTE INT, @DISTRITO INT, @DIRECCION VARCHAR(150), @REFERENCIA VARCHAR(150), @MONTO MONEY)
AS
	INSERT INTO PEDIDO (ID_CLIENTE, ID_DISTRITO, DIR_PEDIDO, REF_PEDIDO, MONTO_PEDIDO)
	VALUES (@CLIENTE, @DISTRITO, @DIRECCION, @REFERENCIA, @MONTO)
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVOUSUARIO]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_NUEVOUSUARIO](@LOGIN VARCHAR(50), @PASS VARCHAR(50), @NOM VARCHAR(100), @EMAIL VARCHAR(100),
@DNI VARCHAR(8), @TEL VARCHAR(15), @ROL INT)
AS
	INSERT INTO USUARIO (LOGIN_USUARIO, PASS_USUARIO, NOM_USUARIO, EMAIL_USUARIO, DNI_USUARIO, TEL_USUARIO, ID_ROL)
	VALUES (@LOGIN, @PASS, @NOM, @EMAIL, @DNI, @TEL, @ROL)
GO
/****** Object:  StoredProcedure [dbo].[SP_PEDIDOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_PEDIDOS]
AS
	SELECT * FROM PEDIDO
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_PRODUCTOS]
AS
	SELECT * FROM PRODUCTO
GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDORES]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_PROVEEDORES]
AS
	SELECT * FROM PROVEEDOR
GO
/****** Object:  StoredProcedure [dbo].[SP_SIGCOD]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_SIGCOD](@TABLA VARCHAR(50))
AS
	SELECT IDENT_CURRENT(@TABLA) + IDENT_INCR(@TABLA)
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOLOGIN]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_USUARIOLOGIN] (@USER VARCHAR(50), @PASS VARCHAR(50))
AS
	SELECT * FROM USUARIO
	WHERE LOGIN_USUARIO = @USER AND PASS_USUARIO = @PASS
GO
/****** Object:  StoredProcedure [dbo].[SP_USUARIOS]    Script Date: 19/01/2021 20:34:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_USUARIOS]
AS
	SELECT * FROM USUARIO
GO
USE [master]
GO
