@model IEnumerable<ProyectoEcommerce.Models.Producto>

@{
    ViewBag.Title = "LICORERES BALDÍ | TIENDA";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2 class="text-center pt-4 mb-5">CARRITO DE COMPRAS</h2>

<div class="container-fluid text-center pt-5">
    @using (Html.BeginForm())
    {
    <div class="d-flex justify-content-around">
        <h4 class="mt-1">CATEGORÍA</h4>
        @Html.DropDownList("cat", (SelectList)ViewBag.categorias, "[Seleccione]", new { @class = "form-control col-2" })
        <h4 class="mt-1">ORDENAR</h4>
        @Html.DropDownList("ord", (SelectList)ViewBag.orden, "[Seleccione]", new { @class = "form-control col-2" })
        <input class="btn btn-principal" type="submit" value="CONSULTAR" />
        @Html.ActionLink("FINALIZAR COMPRA", "comprarProducto", new object { }, new { @class = "btn btn-principal" })
    </div>
    }
</div>


<section id="tienda">
    <div class="row text-center">
        @Html.Partial("_PartialProducto")
    </div>
</section>