
@{
    ViewBag.Title = "PedidoConfirmado";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<div class="pt-5 pb-5">
    <h1 class="text-center pt-4 mb-3 col-6 mx-auto">Tu pedido ha sido confirmado</h1>
    <div class="text-center col-6 mx-auto">
        <hr />
        <h3>Enviamos los detalles de la compra a tu correo electrónico</h3>
        <h5>Si no puedes verlo, te recomendamos revisar la carpeta de SPAM</h5>
    </div>
    <div class="pt-5 pb-5 text-center">
        <div class="pb-5">
            <h3>Gracias por comprar en Baldí</h3>
        </div>
    </div>
</div>

